.vscode/**/*
.github/**/*
.gitignore
.travis.yml
appveyor.yml
src/**/*
debugger/**/*
**/*.js.map
build
sampleworkspace
node_modules
tsconfig.json
.prettierignore
.eslintignore
out
sampleWebWorkerWorkspace
sampleWorkspace
