.vscode/**/*
.github/**/*
.gitignore
.gitattributes
.travis.yml
appveyor.yml
src/**/*
debugger/**/*
**/*.js.map
build
examples
node_modules
tsconfig.json
.prettierignore
.prettierrc.js
.eslintignore
.editorconfig
.eslintrc
package-lock.json
out
test
patches
.wdio-vscode-service
.releaserc.json
images/**/*
!images/icon.png
